/*
Skin name: Boxed
Skin uri: http://skins.semiologic.com/boxed/
Version: 2.0 dev
Author: Mike Koepke
Author uri: http://www.semiologic.com
Colors: Blue
*/


/*
 * Canvas
 */

#wrapper {
	margin-top: 0.375em;
	margin-bottom: 0.375em;
}

.sem_admin_menu #wrapper {
	margin-top: 1.25em;
}

.m2s #main {
	width: 56.631578947368%;    /* 538px / 950 px */
}

.m2s #sidebar,
.m2s #sidebar2 {
	width: 48.5%;               /* 194px / 400 px  */
}

/* .sms rules need to follow any .m2s rules due to equal precedence */
.sms #sidebar_wrapper {
	width: 78.315789473684%;    /* 744px / 950px  */
}

.sms #main {
	width: 72.311827956989%;    /* 538px / 744 px */
}

.sms #sidebar {
	width: 26.075268817204%;    /* 194px / 744 px  */
}

.sms #sidebar2 {
	width: 20.421052631579%;    /* 194px / 950 px  */
}

.m1s #main {
	width: 71.733333333333%;    /* 538px / 750 px */
}

.mm1s #main {
	width: 67.157894736842%;    /* 638px / 950 px */
}


.main.pad {
	padding: 0;
}

.pad,
.pad .pad,
.post_list,
.archive .entry .entry {
	padding: 0 0.9375em;
}

.ad_unit .main_widget .pad,
.ad_unit .widget .pad {
	padding: 0;
}

#navbar .pad {
	padding: 0 0.9375em 0 0;
}

#search_form {
	padding-left: 0.9375em;;
	padding-right: 0.625em;
}

#navbar a {
	display: block;
	float: left;
	padding-left: 0.9375em;
	padding-right: 1.0625em;;
	margin: 0;
}


#navbar span.nav_active {
	font-weight: normal;
	padding-left: 0.9375em;
	padding-right: 1.0625em;
	margin: 0;
}

#navbar span.nav_active a {
	margin-left: -0.9375em;
	margin-right: -1.0625em;
	background: none;
}

#navbar {
	border: solid 1px;
}

#credits {
	margin-top: 0.625em;
	margin-bottom: 0.625em;
	padding-top: 0.625em;
	border-top: solid 1px;
}

.entry,
.post_list,
.main_widget,
.widget,
.header_widget,
.footer_widget {
	padding-top: 0.3125em;
	padding-bottom: 0.3125em;
}

.entry,
.post_list,
.main_widget,
.widget,
.header_widget,
.footer_widget {
	border: solid 1px;
}

#header_wrapper,
.entry,
.main_widget,
.widget {
	margin-top: 0;
	margin-bottom: 0.75em;
}

#body {
	margin-top: 0;
	margin-bottom: 0;
}

#header,
#navbar {
	margin-top: 0.375em;
	margin-bottom: 0.375em;
}
.header_widget,
#header_top_wrapper,
#header_middle_wrapper,
#header_bottom_wrapper {
	margin-top: 0.75em;
	margin-bottom: 0.75em;
}

#footer,
.footer_widget {
	margin-top: 0;
	margin-bottom: 0.75em;
}

#header,
#header_img,
#header_img img,
#navbar,
.entry,
.post_list,
.main_widget,
.main_widget,
.widget,
.header_widget,
.footer_widget {
	-moz-border-radius: 0.4375em;
	-khtml-border-radius: 0.4375em;
	-webkit-border-radius: 0.4375em;
	border-radius: 0.4375em;
}

#navbar li:first-child,
#navbar li:first-child a {
	-moz-border-radius-topleft: 0.4375em;
	-moz-border-radius-bottomleft: 0.4375em;
	-khtml-border-top-left-radius: 0.4375em;
	-khtml-border-bottom-left-radius: 0.4375em;
	-webkit-border-top-left-radius: 0.4375em;
	-webkit-border-bottom-left-radius: 0.4375em;
	border-top-left-radius: 0.4375em;
	border-bottom-left-radius: 0.4375em;
}

#navbar li:last-child,
#navbar li:last-child a {
	-moz-border-radius-topright: 0.4375em;
	-moz-border-radius-bottomright: 0.4375em;
	-khtml-border-top-right-radius: 0.4375em;
	-khtml-border-bottom-right-radius: 0.4375em;
	-webkit-border-top-right-radius: 0.4375em;
	-webkit-border-bottom-right-radius: 0.4375em;
	border-top-right-radius: 0.4375em;
	border-bottom-right-radius: 0.4375em;
}

/* add to others */

#header_nav .sub-menu {
	padding-top: 1px;
}

#header_nav .sub-menu li,
#header_nav .sub-menu li a {
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

#header_nav .sub-menu a {
	background-image: none;
}

#navbar .sub-menu li:first-child,
#navbar .sub-menu li:first-child a,
#navbar .sub-menu li:last-child,
#navbar .sub-menu li:last-child a{
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

#header_img img,
#navbar,
.entry,
.main_widget,
.widget,
.header_widget,
.footer_widget {
	-moz-box-shadow: rgba(0,0,0,.15) 1px 1px 0.25em;
	-khtml-box-shadow: rgba(0,0,0,.15) 1px 1px 0.25em;
	-webkit-box-shadow: rgba(0,0,0,.15) 1px 1px 0.25em;
	box-shadow: rgba(0,0,0,.15) 1px 1px 0.25em;
}

.error404 .entry,
.search .entry,
.archive .entry {
	-moz-box-shadow: none;
	-khtml-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.main .ad_unit,
.ad_unit .main_widget,
.ad_unit .widget,
.main .blog_header,
.main .blog_footer,
.blog_header .main_widget,
.blog_footer .main_widget,
.error404 .main_widget,
.archive .main_widget,
.search .main_widget,
.archive .entry .entry {
	border: none;
	background: none;
	padding-top: 0;
	padding-bottom: 0;
	-moz-box-shadow: none;
	-khtml-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.widget_title h2 {
	margin: -0.375em -1em 0;
	padding: 0.3125em 0.938em 0.1875em;
	border: solid 1px;
	-moz-border-radius-topleft: 0.4375em;
	-moz-border-radius-topright: 0.4375em;
	-khtml-border-top-left-radius: 0.4375em;
	-khtml-border-top-right-radius: 0.4375em;
	-webkit-border-top-left-radius: 0.4375em;
	-webkit-border-top-right-radius: 0.4375em;
	border-top-left-radius: 0.4375em;
	border-top-right-radius: 0.4375em;
}

.widget_title h2 {
	font-size: 1.063em;
}

.widget_calendar table,
.widget_calendar thead,
.widget_calendar tfoot {
	border: solid 1px;
}

/*
 * Skin Images
 */

html {
	background-image: url(images/pattern.jpg);
	background-position: top center;
	background-repeat: repeat;
}

#navbar {
	background-image: url(images/navbar.jpg);
	background-position: top center;
	background-repeat: repeat;
}

#navbar a {
	background-image: url(images/navbar_item.jpg);
	background-position: top right;
	background-repeat: no-repeat;
}

#navbar a:hover {
	background-image: url(images/navbar_active.jpg);
	background-position: top right;
	background-repeat: no-repeat;
}

.entry,
.main_widget,
.widget {
	background-image: url(images/body.jpg);
	background-position: top center;
	background-repeat: repeat-x;
}

.header_widget {
	background-image: url(images/header_widget.jpg);
	background-position: top center;
	background-repeat: repeat-x;
}

.footer_widget {
	background-image: url(images/footer_widget.jpg);
	background-position: bottom center;
	background-repeat: repeat-x;
}

.inline_boxes {
	background-image: url(images/inline_boxes.gif);
	background-position: center;
	background-repeat: no-repeat;
}

.mmm .inline_boxes {
	background-image: url(images/mmm-inline_boxes.gif);
}

.widget_title h2 {
	background-image: url(images/widget_header.jpg);
	background-position: top center;
	background-repeat: repeat-x;
}


.error404 .entry,
.search .entry,
.archive .entry {
	background-image: none;
}

/*
 * Skin Colors
 */

html {
	background-color: #fff;
	color: #000;
}

.main h1,
.main h2,
.main h3,
.sidebar h1,
.sidebar h2,
.widget_calendar caption {
	color: #000;
}

.post_list h3 {
	color: inherit;
}

.entry,
.post_list,
.main_widget,
.widget,
.header_widget,
.footer_widget,
.widget_calendar table,
.widget_calendar tfoot,
#credits {
	border-color: #999;
}

.entry,
.main_widget,
.widget,
.widget_calendar table {
	background-color: #fff;
	color: #222;
}


/*
 * Scheme Colors
 * H210 S85 L40
 */

#navbar,
.widget_calendar thead,
.widget_title h2 {
	background-color: #1961a8; /* - */
	color: #fff;
}

.widget_calendar tfoot {
	background-color: #cce5ff; /* L90 */
	color: #000;
}

.header_widget,
.footer_widget {
	background-color: #fcf6f0; /* C-L97 */
	color: #000;
}

#sitename {
	color: #134980; /* L30 */
}

#navbar a {
	color: #fff;
}

/* add to others */

#header_nav .sub-menu li {
	background-color: #1961a8;
	color: #fff;
}

#header_nav a:hover {
	background-color: #276FB7;
}

/*****/

#footer a {
	color: #000;
	border-color: #000;
}

#footer a:hover {
	color: #09325c; /* L90* */
}

#navbar,
#go {
	border-color: #0d3054; /* B/2 */
}

.widget_calendar thead,
.widget_title h2 {
	border-color: #545454; /* B/2 S0 */
}

@media (max-width: 40.5625em) {     /* 649px */
	/* remove skin menu colors for now */
	#navbar,
	#navbar a,
	#navbar a:hover {
		background-image: none;
	}
}
