/*
Skin name: Boxed
Skin uri: http://skins.semiologic.com/boxed/
Version: 2.0 rc
Author: Mike Koepke
Author uri: http://www.semiologic.com
Type: Standard
Colors: Blue
*/


/*
 * Canvas
 */

#wrapper {
	margin-top: 0.375em;
	margin-bottom: 0.375em;
}

.m2s #main {
	width: 56.631578947368%;    /* 538px / 950 px */
}

.m2s #sidebar,
.m2s #sidebar2 {
	width: 48.5%;               /* 194px / 400 px  */
}

/* .sms rules need to follow any .m2s rules due to equal precedence */
.sms #sidebar_wrapper {
	width: 78.315789473684%;    /* 744px / 950px  */
}

.sms #main {
	width: 72.311827956989%;    /* 538px / 744 px */
}

.sms #sidebar {
	width: 26.075268817204%;    /* 194px / 744 px  */
}

.sms #sidebar2 {
	width: 20.421052631579%;    /* 194px / 950 px  */
}

.m1s #main {
	width: 71.733333333333%;    /* 538px / 750 px */
}

.mm1s #main {
	width: 67.157894736842%;    /* 638px / 950 px */
}

.post_list {
	padding: 0 0.9375em;
}

.header_widget p,
.footer_widget p {
	padding: 0 0.9375em;
}

#search_form {
	padding-left: 0.9375em;
	padding-right: 0.625em;
}

#navbar a {
	padding-left: 0.9375em;
	padding-right: 0.9375em;
	margin: 0;
}


#navbar .nav_active {
	font-weight: normal;
	margin: 0;
}


#navbar {
	border: solid 1px;
}

#credits {
	margin-top: 0.625em;
	margin-bottom: 0.625em;
	padding-top: 0.625em;
	border-top: solid 1px;
}

.entry,
.post_list,
.main_widget,
.body_widget,
.widget,
.inline_box {
	padding: 0.3125em 0.9375em 0.3125em;
}

.archives_header.main_widget,
.archive .entry .entry {
	padding: 0;
}

#header_img img,
.entry,
.post_list,
.main_widget,
.body_widget,
.widget,
.header_widget,
.footer_widget {
	border: solid 1px;
}

#header_wrapper,
.entry,
.body_widget,
.entry_widget,
.widget {
	margin-top: 0;
	margin-bottom: 0.75em;
}

.entry_widget {
	margin-top: 0.75em;
	margin-bottom: 0.75em;
}

#body_wrapper {
	margin-top: 0;
	margin-bottom: 0;
}

#header,
#navbar {
	margin-top: 0.75em;
	margin-bottom: 0.75em;
}

.header_widget,
#header_top_wrapper,
#header_middle_wrapper,
#header_bottom_wrapper {
	margin-top: 0.75em;
	margin-bottom: 0.75em;
}

#footer,
.footer_widget {
	margin-top: 0;
	margin-bottom: 0.75em;
}

#header,
#header_img img,
#navbar,
.entry,
.post_list,
.main_widget,
.body_widget,
.widget,
.header_widget,
.footer_widget {
	-moz-border-radius: 0.4375em;
	-khtml-border-radius: 0.4375em;
	-webkit-border-radius: 0.4375em;
	border-radius: 0.4375em;
}

#navbar li:first-child,
#navbar li:first-child a {
	-moz-border-radius-topleft: 0.4375em;
	-moz-border-radius-bottomleft: 0.4375em;
	-khtml-border-top-left-radius: 0.4375em;
	-khtml-border-bottom-left-radius: 0.4375em;
	-webkit-border-top-left-radius: 0.4375em;
	-webkit-border-bottom-left-radius: 0.4375em;
	border-top-left-radius: 0.4375em;
	border-bottom-left-radius: 0.4375em;
}

/*
#navbar li:last-child,
#navbar li:last-child a {
	-moz-border-radius-topright: 0.4375em;
	-moz-border-radius-bottomright: 0.4375em;
	-khtml-border-top-right-radius: 0.4375em;
	-khtml-border-bottom-right-radius: 0.4375em;
	-webkit-border-top-right-radius: 0.4375em;
	-webkit-border-bottom-right-radius: 0.4375em;
	border-top-right-radius: 0.4375em;
	border-bottom-right-radius: 0.4375em;
	border-right: 0;
}
*/

/* add to others */

#header_nav .sub-menu {
	padding-top: 1px;
}

#header_nav .sub-menu li,
#header_nav .sub-menu li a {
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

#navbar .sub-menu li:first-child,
#navbar .sub-menu li:first-child a,
#navbar .sub-menu li:last-child,
#navbar .sub-menu li:last-child a{
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

#header_img img,
#navbar,
.entry,
.main_widget,
.body_widget,
.widget,
.header_widget,
.footer_widget {
	-moz-box-shadow: rgba(0,0,0,.15) 1px 1px 0.25em;
	-khtml-box-shadow: rgba(0,0,0,.15) 1px 1px 0.25em;
	-webkit-box-shadow: rgba(0,0,0,.15) 1px 1px 0.25em;
	box-shadow: rgba(0,0,0,.15) 1px 1px 0.25em;
}

.error404 .entry,
.search .entry,
.archive .entry {
	-moz-box-shadow: none;
	-khtml-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.main .ad_unit,
.ad_unit .main_widget,
.ad_unit .widget,
.main .blog_header,
.main .blog_footer,
.blog_header .main_widget,
.blog_footer .main_widget,
.error404 .main_widget,
.archive .main_widget,
.search .main_widget,
.archive .entry .entry {
	border: none;
	background: none;
	padding-top: 0;
	padding-bottom: 0;
	-moz-box-shadow: none;
	-khtml-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.widget_title h2 {
	margin: -0.375em -1em 0;
	padding: 0.3125em 0.938em 0.1875em;
	border: solid 1px;
	-moz-border-radius-topleft: 0.4375em;
	-moz-border-radius-topright: 0.4375em;
	-khtml-border-top-left-radius: 0.4375em;
	-khtml-border-top-right-radius: 0.4375em;
	-webkit-border-top-left-radius: 0.4375em;
	-webkit-border-top-right-radius: 0.4375em;
	border-top-left-radius: 0.4375em;
	border-top-right-radius: 0.4375em;
}

.widget_title h2 {
	font-size: 1.063em;
}

.widget_calendar table,
.widget_calendar thead,
.widget_calendar tfoot {
	border: solid 1px;
}

/*
 * Skin Images
 */

html {
	background-image: url(images/pattern.jpg);
	background-position: top center;
	background-repeat: repeat;
}

/*
.inline_boxes {
	background-image: url(images/inline_boxes.gif);
	background-position: center;
	background-repeat: no-repeat;
}

.mmm .inline_boxes {
	background-image: url(images/mmm-inline_boxes.gif);
	background-position: center;
	background-repeat: no-repeat;
}
*/

/*
 * Skin Colors
 */

body {
	background-color: transparent;
}

html {
	background-color: #fff;
	color: #000;
}

.main h1,
.main h2,
.main h3,
.sidebar h1,
.sidebar h2,
.widget_calendar caption {
	color: #000;
}

.post_list h3 {
	color: inherit;
}

.entry,
.post_list,
.main_widget,
.body_widget,
.widget,
.header_widget,
.footer_widget,
.widget_calendar table,
.widget_calendar tfoot,
#credits,
#header_img img {
	border-color: #999;
}

.entry,
.main_widget,
.body_widget,
.widget,
.comment-metadata time:after,
.widget_calendar table {
	background: #ffffff;
	color: #222;
}

.header_widget {
	background: #fdf7f1; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZjdmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmY3ZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #fdf7f1 0%, #fff7ee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdf7f1), color-stop(100%,#fff7ee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fdf7f1 0%,#fff7ee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fdf7f1 0%,#fff7ee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fdf7f1 0%,#fff7ee 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fdf7f1 0%,#fff7ee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdf7f1', endColorstr='#fff7ee',GradientType=0 ); /* IE6-8 */
}

.footer_widget {
	background: #fff7ee; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZjdlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmVhZGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #fff7ee 0%, #f6eadf 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff7ee), color-stop(100%,#f6eadf)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fff7ee 0%,#f6eadf 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fff7ee 0%,#f6eadf 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fff7ee 0%,#f6eadf 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fff7ee 0%,#f6eadf 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff7ee', endColorstr='#f6eadf',GradientType=0 ); /* IE6-8 */
}

.widget_title h2 {
	background: #146bbb; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE0NmJiYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMzVjYWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #146bbb 0%, #035cad 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#146bbb), color-stop(100%,#035cad)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #146bbb 0%,#035cad 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #146bbb 0%,#035cad 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #146bbb 0%,#035cad 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #146bbb 0%,#035cad 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#146bbb', endColorstr='#035cad',GradientType=0 ); /* IE6-8 */
}

/*
 * Scheme Colors
 * H210 S85 L40
 */

#navbar,
.widget_calendar thead,
.widget_title h2 {
	background-color: #1961a8; /* - */
	color: #fff;
}

.widget_calendar tfoot {
	background-color: #cce5ff; /* L90 */
	color: #000;
}

.header_widget,
.footer_widget {
	background-color: #fcf6f0; /* C-L97 */
	color: #000;
}

#sitename {
	color: #134980; /* L30 */
}

#navbar {
	background: #468acc; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ2OGFjYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjMTg2YWI3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzBhNjJiMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  #468acc 0%, #186ab7 1%, #0a62b3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#468acc), color-stop(1%,#186ab7), color-stop(100%,#0a62b3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #468acc 0%,#186ab7 1%,#0a62b3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #468acc 0%,#186ab7 1%,#0a62b3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #468acc 0%,#186ab7 1%,#0a62b3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #468acc 0%,#186ab7 1%,#0a62b3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#468acc', endColorstr='#0a62b3',GradientType=0 ); /* IE6-8 */
}

#navbar a {
	color: #fff;
}

#navbar li:hover {
	background: #2979c6; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI5NzljNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZDcyYzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #2979c6 0%, #1d72c2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2979c6), color-stop(100%,#1d72c2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2979c6 0%,#1d72c2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2979c6 0%,#1d72c2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2979c6 0%,#1d72c2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2979c6 0%,#1d72c2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2979c6', endColorstr='#1d72c2',GradientType=0 ); /* IE6-8 */
}

#navbar li.nav_sep,
#header_nav .sub-menu li a {
	border-left: 1px solid #0E3055;
}

#navbar li.nav_sep:first-child {
	border-left: 0;
}

#navbar li.nav_sep:last-child {
	border-right: 1px solid #0E3055;
}

#navbar li.nav_sep.justified:last-child {
	border-right: 0;
}

#header_nav li.nav_sep + li.nav_sep:after {
	content: '';
}

/* add to others */

#header_nav .sub-menu li {
	background-color: #1961a8;
	color: #fff;
}


/*****/

#footer a {
	color: #000;
	border-color: #000;
}

#footer a:hover {
	color: #09325c; /* L90* */
}

#navbar,
#go {
	border-color: #0d3054; /* B/2 */
}

.widget_calendar thead,
.widget_title h2 {
	border-color: #545454; /* B/2 S0 */
}

/*****
* Media Queries   *******/

@media only screen and (max-width: 40.5625em) {   /* 649 */

	#body_wrapper {
		width: 98%;
	}
}

