/*
Skin name: Clean
Skin uri: http://skins.semiologic.com/clean/
Version: 2.0 dev
Author: Mike Koepke
Author uri: http://www.semiologic.com
Colors:
*/


/*
 * Canvas
 */

/*
 * Skin Images
 */

html {
	background-image: url(images/pattern.jpg);
	background-position: top center;
	background-repeat: repeat;
}
